[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/piyush123po
[access "refs/for/refs/*"]
	read = group user/piyush123po
	push = group user/piyush123po
	label-Code-Review = -2..+2 group user/piyush123po
	label-Verified = -1..+1 group user/piyush123po
	rebase = group user/piyush123po
	removeReviewer = group user/piyush123po
	submit = group user/piyush123po
[access "refs/heads/*"]
	read = group user/piyush123po
	create = group user/piyush123po
	push = +force group user/piyush123po
	pushMerge = group user/piyush123po
[access "refs/tags/*"]
	push = group user/piyush123po
	push = +force group user/piyush123po
